html {
	background-color: #152131;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	font-family: 'Averia Serif Libre', cursive;
	color: white;
	margin-top: 16px;
	margin-bottom: 16px;
	text-shadow: -1px -2px 1px #E4ECDD, -2px -4px 2px #70A9B2, -3px -6px 4px #25779F, -4px -8px 6px #173559;
}

#main {
	box-sizing: border-box;
	margin: auto;
	width: 860px;
	background-color: #E4ECDD;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	box-shadow: -1px -2px 1px #E4ECDD, -2px -4px 2px #70A9B2, -3px -6px 4px #25779F, -4px -8px 6px #173559;
}

#level2 {
	box-sizing: border-box;
	margin: auto;
	width: 840px;
	background-color: #70A9B2;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

#level3 {
	box-sizing: border-box;
	margin: auto;
	width: 820px;
	background-color: #25779F;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

#gameDiv {
	width: 800px;
	height: 600px;
	border-radius: 10px;
	background-image: url("title-small.png");
	background-position: -25px;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}


/* Bubble Code based on Mark Bowley's Pure CSS Bubbles https://codepen.io/Mark_Bowley/pen/mEtqj */
/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
        background-color: transparent;
    }
    25% {
    	background-color: transparent;
    }
    100% {
        margin-top: -100%;
        background-color: #70A9B2;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
        background-color: transparent;
    }
    25% {
    	background-color: transparent;
    }
    100% {
        margin-top: -100%;
        background-color: #70A9B2;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
        background-color: transparent;
    }
    25% {
    	background-color: transparent;
    }
    100% {
        margin-top: -100%;
        background-color: #70A9B2;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.bubble1 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.bubble2 {
    -webkit-animation: animateBubble 12s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 12s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 12s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.bubble3 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.bubble4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.bubble5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.bubble6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.bubble7 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 75%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.bubble8 {
    -webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 90%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}



.bubble9 {
    -webkit-animation: animateBubble 18s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 18s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 18s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 25%;
	top: 0;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.bubble10 {
    -webkit-animation: animateBubble 11s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 11s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 11s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 35%;
	top: 50%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.bubble11 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 70%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.bubble12 {
    -webkit-animation: animateBubble 14s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 14s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 14s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 70%;
	
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}

.bubble13 {
    -webkit-animation: animateBubble 19s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 19s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 19s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 95%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(37,119,159, 0.2), inset 0px 10px 30px 5px rgba(112,169,178, 1);
	-moz-box-shadow: 0 20px 30px rgba(37,119,159, 0.2), inset 0px 10px 30px 5px rgba(112,169,178, 1);
	box-shadow: 0 20px 30px rgba(37,119,159, 0.2), inset 0px 10px 30px 5px rgba(112,169,178, 1);
	
    height: 150px;
	position: absolute;
	width: 150px;
}